/*--Part A--Q1--*/
#mainTopic {
    color: blue;
}
/*--Q2--*/
* {
    text-align: center;
}
/*--Q3--*/
h1,h3,h5 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
/*--Q4--*/
#p1 {
    background-color: cornflowerblue;
    color: white;
}
/*--Q5--*/
button {
    background-color: purple;
    color: azure;
}
/*--Part B--Q6--*/
button:hover {
    background-color: yellow;
    color: blue
}
/*--Q7--*/
#p1:nth-of-type(odd) {
    color: yellow;
}
/*--Q8--*/
h1::first-letter {
    color: red;
}
/*--Q9---*/
input[type="checkbox"]:checked + label {
    color: darkgreen;
}
/*--Q10--*/
/*--


1. #mainContent
2. div .main
3. .main
4. h1




--*/
